/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
dark blue: #2351A7
light blue: #AACEFE
orange: #F76C43
light orange: #F98C6D
lavander: #EFD0E0
white: #FFFFFF 
*/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  @apply text-gray-800
}

::-webkit-scrollbar {
  width: 1px;
}
